<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/JetpackSplashTheme">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TurbolIms">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LogcatActivity"
            android:exported="true"
            android:theme="@style/Theme.TurbolIms" />

        <provider
            android:name=".ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.NETWORK_SETTINGS" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.logcat_fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logcat_filepaths" />
        </provider>
    </application>

    <instrumentation
        android:name=".privileged.ImsModifier"
        android:label="IMS Configurator"
        android:targetPackage="${applicationId}" />
    <instrumentation
        android:name=".privileged.SimReader"
        android:label="SimReader"
        android:targetPackage="${applicationId}" />
</manifest>
